<mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
        <div class="form-actions">
          <button mat-button type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>
      @if(errorMessage){
        <div class="error-message">{{ errorMessage }}</div>
      }
    </mat-card-content>
  </mat-card>
  